.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/home-header/cielo.png);
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  color: antiquewhite;
}

.info {
  position: relative;
  padding: 100px;
  background: #002e3d;
}

.info {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

.info p {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .parallax {
    background-image: url(/images/home-header/fondo-mobile.jpg);
  }
  .parallax img {
    bottom: 100px;
    scale: 2;
  }
  .parallax .montana6 {
    bottom: 150px;
    scale: 3;
  }
  .parallax .titulo {
    scale: 1.5;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
